<tots-filter-box #filterBox [config]="config!" (apply)="onApplyFilters($event)"></tots-filter-box>

<button mat-raised-button color="primary" (click)="applyDefaultFilters()">
    Apply Saved Filters
</button>

<hr>

<button #searchMenuButton="matMenuTrigger" mat-button color="primary" class="btn-add-filter" [matMenuTriggerFor]="testSearchMenu">Search Menu Test One Opcion</button>
<mat-menu #testSearchMenu="matMenu" class="tots-search-menu-angular">
    <tots-search-menu #searchMenu (selected)="onSelectedOptionInMenu($event)" [config]="configSearchMenu!"></tots-search-menu>
</mat-menu>

<button #searchMenuMultipleButton="matMenuTrigger" mat-button color="primary" class="btn-add-filter" [matMenuTriggerFor]="testSearchMenuMultiple">Search Menu Multiple</button>
<mat-menu #testSearchMenuMultiple="matMenu" class="tots-search-menu-angular">
    <tots-search-menu #searchMenuMultiple (selected)="onSelectedOptionsInMenu($event)" [config]="configSearchMultipleMenu!"></tots-search-menu>
</mat-menu>



<router-outlet></router-outlet>
